# IBMD Data Analysis
##### Planned Action

1. Define the business problem
   ¬¬ Come up with a possible business questions
2.  Import data
   ¬¬ Write out a short metedata description for each table
   ¬¬ Identify possible tables from the imported data that will answer the business question
3.  Inspect the chosen dataset
   ¬¬ Outline possible problems that could occur with the data
   ¬¬ Profiling the data 
4.  Transform the chosen dataset
   ¬¬ Cleaning the data
   ¬¬ Enrich the data if needed to meet business needs
5.  Verify the transformed dataset
6.  Build the data pipeline - ELT or ETL

In [ ]:
import pandas as pd
from src.transformation import transform_data

In [ ]:
def check_null_values(movie_data, needed_table):
    for table, data in movie_data.items():
        if table in needed_table:
            print(table)
            null_count = movie_data[table].isna().sum()
            print(null_count)

def remove_dollar_signs_comma(movie_data, COLUMNS_TO_TRANSFORM ):
    for table_name, columns in COLUMNS_TO_TRANSFORM .items():
        for column in columns:
            print(column)
            if movie_data[table_name][column].dtype == 'object':
                movie_data[table_name][column] = movie_data[table_name][column].str.replace('$', '').str.replace(',', '')
    return movie_data

def change_data_type(movie_data, COLUMNS_TO_TRANSFORM):
    for table_name, columns in COLUMNS_TO_TRANSFORM .items():
        for column in columns:
            print(column)
            movie_data[table_name][column] = pd.to_numeric(movie_data[table_name][column], errors='coerce')
    return movie_data

In [1]:


# Function to import data from the given URLs
def import_data(tables):
    movies = {}
    for url, table_name in tables.items():
        if url.endswith('.csv'):
            movies[table_name] = pd.read_csv(url, engine="python")
        elif url.endswith('.tsv'):
            movies[table_name] = pd.read_csv(url, delimiter='\t', engine="python")
    return movies

# URLs of the data tables
TABLES = {
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/MovieLens_movies.csv": "movies_Id",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/IMDb%20BoxOfficeMojo%20-%20Brands%20(US%20%26%20Canada).tsv": "brands_US_and_Canada",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/IMDb%20BoxOfficeMojo%20-%20Brand_%20Marvel%20Comics.tsv": "brand_marvel_comics",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/The%20Numbers%20-%20Domestic%20Box%20Office%20Daily%20-%20The%20Avengers.tsv": "Domestic_Box_Office_Daily_The_Avengers",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/The%20Numbers%20-%20Domestic%20Box%20Office%20-%20Franchises.tsv": "Domestic_Box_Office_Franchises",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/The%20Numbers%20-%20Domestic%20Box%20Office%20-%20Franchises%20-%20Marvel%20Cinematic%20Universe.tsv": "Domestic_Box_Office_Franchises_Marvel_Cinematic",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/World%20Wide%20Box%20Office%20All%20Time%20Top%201000.tsv": "World_Wide_Box_Office_All_Time_Top_1000",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/IMDb%20BoxOfficeMojo%20-%20Franchises%20(US%20%26%20Canada).tsv": "Franchises_us_and_Canada",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/IMDb%20BoxOfficeMojo%20-%20Franchise_%20top20.tsv": "top_20_for_each_Franchise",
    "https://raw.githubusercontent.com/mansik95/IMDB-Analysis/master/Data/MovieLens_tags.csv": "tags"
    }

# Importing data
movie_data = import_data(TABLES)

##### Handling Missing Values from the Movie_dataset
For the purpose of this project we need only four tables for this data analysis.
##### Needed tables to answer business
1. DOMESTIC_BOX_OFFICE_FRANCHISES_MARVEL_CINEMATIC
2. DOMESTIC_BOX_OFFICE_FRANCHISES
3. WORLD_WIDE_BOX_OFFICE_ALL_TIME_TOP_1000
4. TOP_20_FOR_EACH_FRANCHISE

In [5]:
needed_table = ["tags","Domestic_Box_Office_Franchises_Marvel_Cinematic","movies_Id","brands_US_and_Canada","Domestic_Box_Office_Franchises","World_Wide_Box_Office_All_Time_Top_1000","top_20_for_each_Franchise"]

check_null_values(movie_data, needed_table)

movies_Id
movieId    0
title      0
genres     0
dtype: int64
brands_US_and_Canada
Brand             0
Total_Gross       0
Releases          0
No_1_Release      0
Lifetime_Gross    0
dtype: int64
Domestic_Box_Office_Franchises
Franchise                    0
No_of_Movies                 0
Domestic_Box_Office          0
Infl_Adj_Dom_Box_Office      0
Worldwide_Box_Office         0
First_Year                   0
Last_Year                    0
No_of_Years                135
dtype: int64
Domestic_Box_Office_Franchises_Marvel_Cinematic
Release_Date            0
Title                   0
Production_Budget       5
Opening_Weekend         5
Domestic_Box_Office     5
Worldwide_Box_Office    5
dtype: int64
World_Wide_Box_Office_All_Time_Top_1000
Rank                      0
Title                     0
WorldwideLifetimeGross    0
Domesti LifetimeGross     0
Domestic%                 4
ForeignLifetimeGross      0
Foreign%                  0
Year                      0
dtype: int64
top_20_for_each_Franchise
Franchise          0
Rank               0
Release            0
Lifetime_Gross    26
Max_Theaters      54
Opening_Gross     64
Open_Theaters      0
Release_Date       0
Distributor        0
dtype: int64
tags
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

##### Observation from finding missing values

##### **Numbers of Missing values :**
1. World_Wide_Box_Office_All_Time_Top_1000
¬¬¬ Domestic%                 4

2. tags
¬¬¬ tag          16

3. Domestic_Box_Office_Franchises_Marvel_Cinematic
¬¬¬ Production_Budget       5
¬¬¬ Opening_Weekend         5
¬¬¬ Domestic_Box_Office     5
¬¬¬ Worldwide_Box_Office    5

4. Domestic_Box_Office_Franchises
No_of_Years                135

##### **Handling Missing Values:**
--From the veiwing the "No_of_years" column in the "Domestic_Box_Office_Franchises" Table  can see that instead of saving zero, the column was saving it as NaN.

In [ ]:
movie_data["Domestic_Box_Office_Franchises"] = movie_data["Domestic_Box_Office_Franchises"].fillna(0)
movie_data["tags"] = movie_data["tags"].dropna()
movie_data["Domestic_Box_Office_Franchises_Marvel_Cinematic"] =  movie_data["Domestic_Box_Office_Franchises_Marvel_Cinematic"].dropna()
movie_data["World_Wide_Box_Office_All_Time_Top_1000"] = movie_data["World_Wide_Box_Office_All_Time_Top_1000"].dropna()

# Let verify if we were able to remove all the null values
check_null_values(movie_data, needed_table)

In [ ]:
# Ensuring all the needed tables are in their right formats

def check_data_type(movie_data, needed_table):
    for table, data in movie_data.items():
        if table in needed_table:
            print(table)
            print((movie_data[table]).info())

check_data_type(movie_data, needed_table)

------ list of tables that require transformation 

##### DOMESTIC_BOX_OFFICE_FRANCHISES
1.   Domestic_Box_Office      867 non-null    object ---- remove the dollar sign and convert type to int
2.   Infl_Adj_Dom_Box_Office  867 non-null    object to int ---- remove the dollar sign and convert type to int
3.   Worldwide_Box_Office     867 non-null    object to int ---- remove the dollar sign and convert type to int

##### DOMESTIC_BOX_OFFICE_FRANCHISES_MARVEL_CINEMATIC
1.   Production_Budget     23 non-null     object to int ---- remove the dollar sign and convert type to int
2.   Opening_Weekend       23 non-null     object to int ---- remove the dollar sign and convert type to int
3.   Domestic_Box_Office   23 non-null     object to int ---- remove the dollar sign and convert type to int
4.   Worldwide_Box_Office  23 non-null     object to int ---- remove the dollar sign and convert type to int

##### TOP_20_FOR_EACH_FRANCHISE
1.   Lifetime_Gross  281 non-null    object to int ---- remove the dollar sign and convert type to int
2.   Max_Theaters    281 non-null    object to int ---- remove the comma sign and convert type to int
3.   Opening_Gross   281 non-null    object to int ---- remove the dollar sign and convert type to int
4.   Open_Theaters   281 non-null    object to int ---- remove the comma sign and convert type to int

In [43]:
# Columns to remove the dollar sign from

COLUMNS_TO_TRANSFORM = {
    'Domestic_Box_Office_Franchises': ['Domestic_Box_Office', 'Infl_Adj_Dom_Box_Office', 'Worldwide_Box_Office'],
    'Domestic_Box_Office_Franchises_Marvel_Cinematic': ['Production_Budget', 'Opening_Weekend', 'Domestic_Box_Office', 'Worldwide_Box_Office'],
    'top_20_for_each_Franchise': ['Lifetime_Gross','Opening_Gross','Max_Theaters']
}

movie_data = remove_dollar_signs_comma(movie_data, COLUMNS_TO_TRANSFORM)
change_data_type(movie_data, COLUMNS_TO_TRANSFORM)

Domestic_Box_Office
Infl_Adj_Dom_Box_Office
Worldwide_Box_Office
Production_Budget
Opening_Weekend
Domestic_Box_Office
Worldwide_Box_Office
Lifetime_Gross
Opening_Gross
Max_Theaters
Domestic_Box_Office
Infl_Adj_Dom_Box_Office
Worldwide_Box_Office
Production_Budget
Opening_Weekend
Domestic_Box_Office
Worldwide_Box_Office
Lifetime_Gross
Opening_Gross
Max_Theaters

{'movies_Id':        movieId                               title  \
 0            1                    Toy Story (1995)
 1            2                      Jumanji (1995)
 2            3             Grumpier Old Men (1995)
 3            4            Waiting to Exhale (1995)
 4            5  Father of the Bride Part II (1995)
 ...        ...                                 ...
 62418   209157                           We (2018)
 62419   209159           Window of the Soul (2001)
 62420   209163                    Bad Poems (2018)
 62421   209169                 A Girl Thing (2001)
 62422   209171      Women of Devil's Island (1962)

                                             genres
 0      Adventure|Animation|Children|Comedy|Fantasy
 1                       Adventure|Children|Fantasy
 2                                   Comedy|Romance
 3                             Comedy|Drama|Romance
 4                                           Comedy
 ...                                            ...
 62418                                        Drama
 62419                                  Documentary
 62420                                 Comedy|Drama
 62421                           (no genres listed)
 62422                       Action|Adventure|Drama

 [62423 rows x 3 columns],
 'brands_US_and_Canada':                                   Brand      Total_Gross  Releases  \
 0                         Marvel Comics  $14,222,359,290        60
 1                    Legendary Pictures   $6,918,142,562        55
 2                             Lucasfilm   $6,322,540,918        38
 3                                 Pixar   $6,075,570,662        25
 4                             DC Comics   $5,713,151,081        44
 5                  DreamWorks Animation   $5,658,603,427        37
 6                             Bad Robot   $3,077,078,931        15
 7                 Vertigo Entertainment   $3,053,748,082        40
 8         Walt Disney Animation Studios   $2,624,970,738        12
 9            Illumination Entertainment   $2,610,640,345        10
 10                Blumhouse Productions   $2,308,939,819        47
 11                               Hasbro   $2,051,221,499        16
 12                          Nickelodeon   $1,930,746,182        26
 13              Sony Pictures Animation   $1,918,763,863        21
 14                         Walden Media   $1,842,852,183        38
 15                             Blue Sky   $1,740,428,763        13
 16                         Stephen King   $1,729,648,950        49
 17                                  MTV   $1,520,456,359        36
 18                       Platinum Dunes   $1,218,299,893        17
 19  Saturday Night Live - Alumni Debuts   $1,023,596,031        30
 20                    Dark Horse Comics     $947,671,338        16
 21               Tim Burton-Johnny Depp     $889,955,830         8
 22               Warner Animation Group     $784,308,756         7
 23                          Tyler Perry     $765,635,362        16
 24                            CBS Films     $652,824,187        29
 25                         John Grisham     $645,661,825        10
 26                        Robert Ludlum     $645,459,186         6
 27                      Nicholas Sparks     $574,728,259        11
 28                        Hanna-Barbera     $529,861,034         8
 29                       Philip K. Dick     $495,237,720        14
 30                          Dark Castle     $454,625,110        16
 31                     National Lampoon     $435,010,768        19
 32                       Disney Channel     $359,952,780         8
 33                           Roald Dahl     $356,238,494         7
 34                  Saturday Night Live     $346,533,876        11
 35                   DisneyToon Studios     $337,576,791         8
 36                              Aardman     $333,777,829        16
 37                                Laika     $300,158,323         6
 38                           Alan Moore     $276,088,604         4
 39                       Amazon Studios     $204,376,048        43
 40                         Disneynature     $151,620,585         8
 41                         Clive Barker     $110,499,439         9
 42                        Broken Lizard      $73,338,237         5
 43                        Studio Ghibli      $70,666,453        26

                                          No_1_Release Lifetime_Gross
 0                                   Avengers: Endgame   $858,373,000
 1                                      Jurassic World   $652,270,625
 2          Star Wars: Episode VII - The Force Awakens   $936,662,225
 3                                       Incredibles 2   $608,581,744
 4                                     The Dark Knight   $533,345,358
 5                                             Shrek 2   $441,226,247
 6          Star Wars: Episode VII - The Force Awakens   $936,662,225
 7                                                  It   $327,481,748
 8                                           Frozen II   $477,373,578
 9                             The Secret Life of Pets   $368,384,330
 10                                            Get Out   $176,040,665
 11                Transformers: Revenge of the Fallen   $402,111,870
 12                       Teenage Mutant Ninja Turtles   $191,204,754
 13                  Spider-Man: Into the Spider-Verse   $190,241,310
 14  The Chronicles of Narnia: The Lion, the Witch ...   $291,710,957
 15                     Ice Age: Dawn of the Dinosaurs   $196,573,705
 16                                                 It   $327,481,748
 17                                   The Longest Yard   $158,119,460
 18                       Teenage Mutant Ninja Turtles   $191,204,754
 19                                        Bridesmaids   $169,106,725
 20                                                300   $210,614,939
 21                                Alice in Wonderland   $334,191,110
 22                                     The Lego Movie   $257,760,692
 23                                 Madea Goes to Jail    $90,508,336
 24                  Scary Stories to Tell in the Dark    $68,947,075
 25                                           The Firm   $158,348,367
 26                               The Bourne Ultimatum   $227,471,070
 27                                       The Notebook    $81,001,787
 28                                         Scooby-Doo   $153,294,164
 29                                    Minority Report   $132,072,926
 30                                            Unknown    $63,686,397
 31                    National Lampoon's Animal House   $120,091,123
 32                              High School Musical 3    $90,559,416
 33                  Charlie and the Chocolate Factory   $206,459,076
 34                                      Wayne's World   $121,697,323
 35                                             Planes    $90,288,712
 36                                        Chicken Run   $106,834,564
 37                                           Coraline    $75,286,229
 38                                           Watchmen   $107,509,799
 39                              Manchester by the Sea    $47,695,371
 40                                              Earth    $32,011,576
 41                                           Candyman    $25,792,310
 42                                   Super Troopers 2    $30,617,396
 43                       The Secret World of Arrietty    $19,202,743  ,
 'brand_marvel_comics':     Rank                                 Release Lifetime_Gross Max_Theaters  \
 0      1                       Avengers: Endgame   $858,373,000        4,662
 1      2                           Black Panther   $700,059,566        4,084
 2      3                  Avengers: Infinity War   $678,815,482        4,474
 3      4                            The Avengers   $623,357,910        4,349
 4      5                 Avengers: Age of Ultron   $459,005,868        4,276
 5      6                          Captain Marvel   $426,829,839        4,310
 6      7                              Iron Man 3   $409,013,994        4,253
 7      8              Captain America: Civil War   $408,084,349        4,226
 8      9                              Spider-Man   $403,706,375        3,876
 9     10               Spider-Man: Far from Home   $390,532,085        4,634
 10    11          Guardians of the Galaxy Vol. 2   $389,813,101        4,347
 11    12                            Spider-Man 2   $373,585,825        4,166
 12    13                                Deadpool   $363,070,709        3,856
 13    14                            Spider-Man 3   $336,530,303        4,324
 14    15                  Spider-Man: Homecoming   $334,201,140        4,348
 15    16                 Guardians of the Galaxy   $333,176,600        4,088
 16    17                                Iron Man   $318,604,126        4,154
 17    18                              Deadpool 2   $318,491,426        4,349
 18    19                          Thor: Ragnarok   $315,058,289        4,080
 19    20                              Iron Man 2   $312,433,331        4,390
 20    21                  The Amazing Spider-Man   $262,030,663        4,318
 21    22     Captain America: The Winter Soldier   $259,766,572        3,938
 22    23                   X-Men: The Last Stand   $234,362,462        3,714
 23    24              X-Men: Days of Future Past   $233,921,534        4,001
 24    25                          Doctor Strange   $232,641,920        3,882
 25    26                                   Logan   $226,277,068        4,071
 26    27                              Big Hero 6   $222,527,828        3,773
 27    28                    Ant-Man and the Wasp   $216,648,740        4,206
 28    29                        X2: X-Men United   $214,949,694        3,749
 29    30                                   Venom   $213,515,506        4,250
 30    31                    Thor: The Dark World   $206,362,140        3,841
 31    32                The Amazing Spider-Man 2   $202,853,933        4,324
 32    33       Spider-Man: Into the Spider-Verse   $190,241,310        3,813
 33    34                                    Thor   $181,030,624        3,963
 34    35                                 Ant-Man   $180,202,163        3,868
 35    36                X-Men Origins: Wolverine   $179,883,157        4,102
 36    37      Captain America: The First Avenger   $176,654,505        3,715
 37    38                                   X-Men   $157,299,718        3,112
 38    39                       X-Men: Apocalypse   $155,442,489        4,153
 39    40                          Fantastic Four   $154,696,080        3,619
 40    41                      X-Men: First Class   $146,408,305        3,692
 41    42                     The Incredible Hulk   $134,806,913        3,508
 42    43                           The Wolverine   $132,556,852        3,924
 43    44                                    Hulk   $132,177,234        3,674
 44    45  Fantastic 4: Rise of the Silver Surfer   $131,921,738        3,963
 45    46                             Ghost Rider   $115,802,596        3,620
 46    47                               Daredevil   $102,543,518        3,474
 47    48                                Blade II    $82,348,319        2,707
 48    49                                   Blade    $70,087,718        2,389
 49    50                     X-Men: Dark Phoenix    $65,845,974        3,721
 50    51                          Fantastic Four    $56,117,548        4,004
 51    52                          Blade: Trinity    $52,411,906        2,912
 52    53        Ghost Rider: Spirit of Vengeance    $51,774,002        3,174
 53    54                            The Punisher    $33,810,189        2,649
 54    55                                 Elektra    $24,409,722        3,204
 55    56                         Howard the Duck    $16,295,774        1,563
 56    57                      Punisher: War Zone     $8,050,977        2,508
 57    58   Spider-Man/Men in Black IIDouble Bill     $6,632,970        2,078
 58    59     Once Upon a Deadpool2018 Re-release     $6,100,309        1,566
 59    60                                Inhumans     $1,521,787          393

    Opening_Gross Open_Theaters  Release_Date  \
 0   $357,115,007         4,662  Apr 26, 2019
 1   $202,003,951         4,020  Feb 16, 2018
 2   $257,698,183         4,474  Apr 27, 2018
 3   $207,438,708         4,349   May 4, 2012
 4   $191,271,109         4,276   May 1, 2015
 5   $153,433,423         4,310   Mar 8, 2019
 6   $174,144,585         4,253   May 3, 2013
 7   $179,139,142         4,226   May 6, 2016
 8   $114,844,116         3,615   May 3, 2002
 9    $92,579,212         4,634   Jul 2, 2019
 10  $146,510,104         4,347   May 5, 2017
 11   $88,156,227         4,152  Jun 30, 2004
 12  $132,434,639         3,558  Feb 12, 2016
 13  $151,116,516         4,252   May 4, 2007
 14  $117,027,503         4,348   Jul 7, 2017
 15   $94,320,883         4,080   Aug 1, 2014
 16   $98,618,668         4,105   May 2, 2008
 17  $125,507,153         4,349  May 18, 2018
 18  $122,744,989         4,080   Nov 3, 2017
 19  $128,122,480         4,380   May 7, 2010
 20   $62,004,688         4,318   Jul 3, 2012
 21   $95,023,721         3,938   Apr 4, 2014
 22  $102,750,665         3,690  May 26, 2006
 23   $90,823,660         3,996  May 23, 2014
 24   $85,058,311         3,882   Nov 4, 2016
 25   $88,411,916         4,071   Mar 3, 2017
 26   $56,215,889         3,761   Nov 7, 2014
 27   $75,812,205         4,206   Jul 6, 2018
 28   $85,558,731         3,741   May 2, 2003
 29   $80,255,756         4,250   Oct 5, 2018
 30   $85,737,841         3,841   Nov 8, 2013
 31   $91,608,337         4,324   May 2, 2014
 32   $35,363,376         3,813  Dec 14, 2018
 33   $65,723,338         3,955   May 6, 2011
 34   $57,225,526         3,856  Jul 17, 2015
 35   $85,058,003         4,099   May 1, 2009
 36   $65,058,524         3,715  Jul 22, 2011
 37   $54,471,475         3,025  Jul 14, 2000
 38   $65,769,562         4,150  May 27, 2016
 39   $56,061,504         3,602   Jul 8, 2005
 40   $55,101,604         3,641   Jun 3, 2011
 41   $55,414,050         3,505  Jun 13, 2008
 42   $53,113,752         3,924  Jul 26, 2013
 43   $62,128,420         3,660  Jun 20, 2003
 44   $58,051,684         3,959  Jun 15, 2007
 45   $45,388,836         3,619  Feb 16, 2007
 46   $40,310,419         3,471  Feb 14, 2003
 47   $32,528,016         2,707  Mar 22, 2002
 48   $17,073,856         2,322  Aug 21, 1998
 49   $32,828,348         3,721   Jun 7, 2019
 50   $25,685,737         3,995   Aug 7, 2015
 51   $16,100,000         2,912   Dec 8, 2004
 52   $22,115,334         3,174  Feb 17, 2012
 53   $14,000,000         2,649  Apr 16, 2004
 54   $12,804,793         3,204  Jan 14, 2005
 55    $5,070,136         1,554   Aug 1, 1986
 56    $4,271,451         2,508   Dec 5, 2008
 57    $2,111,862         2,078   Sep 6, 2002
 58    $2,683,200         1,566  Dec 12, 2018
 59    $1,135,440           393   Sep 1, 2017

                             Distributor
 0   Walt Disney Studios Motion Pictures
 1   Walt Disney Studios Motion Pictures
 2   Walt Disney Studios Motion Pictures
 3   Walt Disney Studios Motion Pictures
 4   Walt Disney Studios Motion Pictures
 5   Walt Disney Studios Motion Pictures
 6   Walt Disney Studios Motion Pictures
 7   Walt Disney Studios Motion Pictures
 8               Sony Pictures Releasing
 9               Sony Pictures Releasing
 10  Walt Disney Studios Motion Pictures
 11              Sony Pictures Releasing
 12                Twentieth Century Fox
 13              Sony Pictures Releasing
 14              Sony Pictures Releasing
 15  Walt Disney Studios Motion Pictures
 16                   Paramount Pictures
 17                Twentieth Century Fox
 18  Walt Disney Studios Motion Pictures
 19                   Paramount Pictures
 20              Sony Pictures Releasing
 21  Walt Disney Studios Motion Pictures
 22                Twentieth Century Fox
 23                Twentieth Century Fox
 24  Walt Disney Studios Motion Pictures
 25                Twentieth Century Fox
 26  Walt Disney Studios Motion Pictures
 27  Walt Disney Studios Motion Pictures
 28                Twentieth Century Fox
 29              Sony Pictures Releasing
 30  Walt Disney Studios Motion Pictures
 31              Sony Pictures Releasing
 32              Sony Pictures Releasing
 33                   Paramount Pictures
 34  Walt Disney Studios Motion Pictures
 35                Twentieth Century Fox
 36                   Paramount Pictures
 37                Twentieth Century Fox
 38                Twentieth Century Fox
 39                Twentieth Century Fox
 40                Twentieth Century Fox
 41                   Universal Pictures
 42                Twentieth Century Fox
 43                   Universal Pictures
 44                Twentieth Century Fox
 45              Sony Pictures Releasing
 46                Twentieth Century Fox
 47                      New Line Cinema
 48                      New Line Cinema
 49                Twentieth Century Fox
 50                Twentieth Century Fox
 51                      New Line Cinema
 52              Sony Pictures Releasing
 53                            Lionsgate
 54                Twentieth Century Fox
 55                   Universal Pictures
 56                            Lionsgate
 57              Sony Pictures Releasing
 58                Twentieth Century Fox
 59                                 IMAX  ,
 'Domestic_Box_Office_Daily_The_Avengers':             Date Rank        Gross   %YD   %LW Theaters Per Theater  \
 0    May 3, 2012    P  $18,700,000   NaN   NaN        0         NaN
 1    May 4, 2012    1  $80,813,985   NaN   NaN    4,349     $18,582
 2    May 5, 2012    1  $69,557,990  -14%   NaN    4,349     $15,994
 3    May 6, 2012    1  $57,066,733  -18%   NaN    4,349     $13,122
 4    May 7, 2012    1  $18,898,999  -67%   NaN    4,349      $4,346
 ..           ...  ...          ...   ...   ...      ...         ...
 92   Sep 9, 2012    -     $163,107  -60%  -81%    1,209        $135
 93  Sep 10, 2012    -      $46,138  -72%  -92%    1,209         $38
 94  Sep 11, 2012    -      $56,594  0.23   NaN    1,209         $47
 95  Sep 12, 2012    -      $51,689   -9%   NaN    1,209         $43
 96  Sep 13, 2012    -      $54,171  0.05  -43%    1,209         $45

      Total Gross   Days
 0    $18,700,000    NaN
 1    $80,813,985    1.0
 2   $150,371,975    2.0
 3   $207,438,708    3.0
 4   $226,337,707    4.0
 ..           ...    ...
 92  $621,414,627  129.0
 93  $621,460,765  130.0
 94  $621,517,359  131.0
 95  $621,569,048  132.0
 96  $621,623,219  133.0

 [97 rows x 9 columns],
 'Domestic_Box_Office_Franchises':                      Franchise  No_of_Movies  Domestic_Box_Office  \
 0    Marvel Cinematic Universe            30           8545426433
 1                    Star Wars            15           5079119579
 2                   James Bond            27           2136666623
 3                       Batman            22           2786778902
 4                 Harry Potter            12           2786938291
 ..                         ...           ...                  ...
 862               The Invoking             1                    0
 863              Tom and Jerry             1                    0
 864                Chicken Run             1                    0
 865                Boy s tenyu             1                    0
 866                    Digimon             1                    0

      Infl_Adj_Dom_Box_Office  Worldwide_Box_Office  First_Year  Last_Year  \
 0                 9102945801           22587518639        2008       2022
 1                 8039797255           10324020963        1977       2026
 2                 5931136027            7119674009        1963       2020

In [ ]:
transformed_data = transform_data(movie_data)