# IBMD Data Analysis
### Planned Action

#### --- Define the business problem
#####    ¬¬ Come up with a possible business questions
#### --- Import data
#####    ¬¬ Write out a short metedata description for each table
#####    ¬¬ Identify possible tables from the imported data that will answer the business question
#### --- Inspect the chosen dataset
#####    ¬¬ Outline possible problems that could occur with the data
#####    ¬¬ Profiling the data 
#### --- Transform the chosen dataset
#####    ¬¬ Cleaning the data
#####    ¬¬ Enrich the data if needed to meet business needs
#### --- Verify the transformed dataset
#### --- Build the data pipeline - ELT or ETL

#### Required tables to answer business

##### --- DOMESTIC_BOX_OFFICE_FRANCHISES_MARVEL_CINEMATIC
##### --- DOMESTIC_BOX_OFFICE_FRANCHISES
##### --- WORLD_WIDE_BOX_OFFICE_ALL_TIME_TOP_1000
##### --- TOP_20_FOR_EACH_FRANCHISE

##### --- list of tables that require transformation 
##### DOMESTIC_BOX_OFFICE_FRANCHISES

#####    Column                   Non-Null Count  Dtype  
##### ---  ------                   --------------  -----  
##### 1   Domestic_Box_Office      867 non-null    object ---- remove the dollar sign and convert type to int
##### 2   Infl_Adj_Dom_Box_Office  867 non-null    object to int ---- remove the dollar sign and convert type to int
##### 3   Worldwide_Box_Office     867 non-null    object to int ---- remove the dollar sign and convert type to int

##### DOMESTIC_BOX_OFFICE_FRANCHISES_MARVEL_CINEMATIC

#####   Column                Non-Null Count  Dtype 
##### ---  ------                --------------  ----- 
##### 1   Production_Budget     23 non-null     object to int ---- remove the dollar sign and convert type to int
##### 2   Opening_Weekend       23 non-null     object to int ---- remove the dollar sign and convert type to int
##### 3   Domestic_Box_Office   23 non-null     object to int ---- remove the dollar sign and convert type to int
##### 4   Worldwide_Box_Office  23 non-null     object to int ---- remove the dollar sign and convert type to int

##### TOP_20_FOR_EACH_FRANCHISE

#####    Column          Non-Null Count  Dtype 
 
##### 1   Lifetime_Gross  281 non-null    object to int ---- remove the dollar sign and convert type to int
##### 2   Max_Theaters    281 non-null    object to int ---- remove the comma sign and convert type to int
##### 3   Opening_Gross   281 non-null    object to int ---- remove the dollar sign and convert type to int
##### 4   Open_Theaters   281 non-null    object to int ---- remove the comma sign and convert type to int